MONGO_DB=**********************
PORT=5000
JWT_SECRET_KEY=TaskManagement_hanhtran
FIREBASE_WEB_API_KEY=**********
FIREBASE_SDK=./firebase-config.json
EMAIL_USER=gm.tranhuuhanh@gmail.com
EMAIL_PASS=*********************
